* {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 100px;
  border: 15px solid #3868ec;
  justify-content: space-around;
  align-items: center;
  height: 40vh;
  width: 40vw;
  margin-left: 450px;
}

h3 {
  color: rgb(22, 22, 21);
  opacity: 0.6;
}
#joke {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#jokeBtn {
  background-color: rgb(119, 36, 119);
  width: 200px;
  height: 44px;
  color: white;
  border-radius: 19px;
}
